.BackTotop .ir-arriba {
	padding: 2px 5px;
	display: inline-block;
	background-color: steelblue;
	color: #fff;
	position: fixed;
	font-size: 20px;
	bottom: 46px;
	left: 15px;
	display: none;
	cursor: pointer;
	box-shadow: inset 0 0 3px 0 #000;
	-webkit-box-shadow: inset 0 0 3px 0 #000;
	-moz-box-shadow: inset 0 0 3px 0 #000;
	-ms-box-shadow: inset 0 0 3px 0 #000;
	-o-box-shadow: inset 0 0 3px 0 #000;
}